body {
  margin-top: 110px;
  background-color: black;
}

.header {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  width: 103%;
  height: 69px;
  display: flex;
  align-items: center;
  flex-direction: row;
  border-bottom: 1px solid seashell;
  margin-left:-10px;
  position: fixed;
  justify-content: space-between;
  top: 0;
}

.logo-img {
  height: 50px;
  margin-left: 10px;
  padding-left: 10px;
}

.navigation {
   padding: 10px;
   display: inline-block;
   margin-right: 20px;
   margin-left: 20px;
   text-decoration: underline;
}

a {
 padding: 10px;
 color: seashell;

}
